<!DOCTYPE html>
<html lang="en" th:replace="shared/_layout.html::layout('SmartTV','',~{::div#fatlind},'')">

<div id="fatlind">
    <!-- About Section -->
    <section id="about" class="about section section-bg dark-background">

        <div class="container position-relative">

            <div class="row gy-5">

                <div class="content col-xl-5 d-flex flex-column" data-aos-delay="100">
                    <h3>Who are we?</h3>
                    <p>
                        SmartTV is a television company that operates in the Kosovo market.
                    </p>
                    <a href="#" class="about-btn align-self-center align-self-xl-start"><span>About us</span> <i class="bi bi-chevron-right"></i></a>
                </div>

                <div class="col-xl-7" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-tv"></i>
                            <h4><a href="" class="stretched-link">TV Channels</a></h4>
                            <p>Experience unique passion with our platform. Over 270 HD TV Channels</p>
                        </div><!-- Icon-Box -->

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-gem"></i>
                            <h4><a href="" class="stretched-link">Customer Care</a></h4>
                            <p>Our customers are treated with extra care and professionalism!</p>
                        </div><!-- Icon-Box -->

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-film"></i>
                            <h4><a href="" class="stretched-link">All Your Favorites, One Screen Away</a></h4>
                            <p>Your favorite shows, all in one place.</p>
                        </div><!-- Icon-Box -->

                        <div class="col-md-6 icon-box position-relative">
                            <i class="bi bi-badge-hd"></i>
                            <h4><a href="" class="stretched-link">Start watching today!</a></h4>
                            <p>Over 150 Channels in Ultra-HD</p>
                        </div><!-- Icon-Box -->

                    </div>
                </div>

            </div>

        </div>

    </section><!-- /About Section -->


</div>
</html>