<!DOCTYPE html>
<html lang="en" th:replace="shared/_layout.html::layout('SmartTV','',~{::div#fatlind},'')">

<div id="fatlind">


    <!--        Pricing Section-->
    <section id="pricing" class="pricing section section-bg dark-background">

        <!-- Section Title -->
        <div class="container section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Pricing</h2>
            <p>Cmimet me te volitshme ne treg</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row">
                <div class="col-lg-4 aos-init aos-animate"
                     th:each="package, iterStat : ${packages}"
                     th:classappend="${iterStat.index == 1} ? 'featured' : ''"
                     data-aos="zoom-in">
                    <div class="pricing-item">
                        <h3 th:text="${package.name}">Pako Basic</h3>

                        <h4 th:text="${package.price}">14,99€</h4>

                        <ul>
                            <li>
                                Mbps: <span th:text="${package.mbps}">100</span>
                                <i class="bi bi-check"></i>
                            </li>
                            <li>
                                Number of channels: <span th:text="${package.nrOfChannels}">50</span>
                                <i class="bi bi-check"></i>
                            </li>
                            <li>
                                Sports:
                                <span th:text="${package.sportsChannels ? 'Yes' : 'No'}">Yes</span>
                                <i th:class="${package.sportsChannels ? 'bi bi-check' : 'bi bi-x'}"></i>
                            </li>
                        </ul>
                        <div class="text-center">
                            <a th:href="@{/get-started}" class="buy-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

</div>

</section> <!-- /Pricing Section -->


</div>
</html>