<!DOCTYPE html>
<html lang="en" th:replace="shared/_layout.html::layout('SmartTV','',~{::div#fatlind},'')">

<div id="fatlind">
    <section id="tabs" class="tabs section">

        <div class="container">

            <!-- Tab Nav -->
             <ul class="nav nav-tabs row  d-flex" data-aos-delay="100">
                <li class="nav-item col-3 flex-fill" th:each="package, iterStat : ${packages}">
                    <a class="nav-link" :class="${iterStat.index == 0 ? 'active show' : ''}" data-bs-toggle="tab"
                       th:attr="data-bs-target='#tabs-tab-' + ${iterStat.index + 1}">
                        <i class="bi bi-1-square"></i>
                        <h4 class="d-none d-lg-block" th:text="${package.name}"></h4>
                    </a>
                </li>
            </ul><!-- End Tab Nav -->

            <!-- Tab Content -->
            <div class="tab-content" data-aos-delay="200">
                <div th:each="package, iterStat : ${packages}" class="tab-pane fade"
                     :class="${iterStat.index == 0 ? 'active show' : ''}" th:id="'tabs-tab-' + ${iterStat.index + 1}">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3 th:text="${package.name}"></h3>
                            <p class="fst-italic" th:text="${package.description1}"></p>
                            <ul>
                                <li><i class="bi bi-check2-all"></i>
                                    <span><b>Key Features:</b></span>
                                </li>
                                <li><i class="bi bi-check2-all"></i> <span><b>Channels Included:</b>
                                    <span th:text="${package.channelsIncluded}"></span></span>
                                </li>
                                <li><i class="bi bi-check2-all"></i> <span><b>Affordable Pricing:</b> <span
                                        th:text="${package.affordablePricing}"></span></span>
                                </li>
                                <li><i class="bi bi-check2-all"></i> <span><b>HD Streaming:</b> <span
                                        th:text="${package.hdStreaming}"></span></span>
                                </li>
                                <li><i class="bi bi-check2-all"></i> <span><b>User-Friendly Features: </b> <span
                                        th:text="${package.userFriendlyFeatures}"></span></span>
                                </li>
                            </ul>
                            <p class="fst-italic" th:text="${package.description2}"></p>

                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img th:src="@{${package.photo}}" alt="Package Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

</html>
