<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Change Password','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-af/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-af/profile}">Profile</a></li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>

<div class="page-inner">

    <div class="pagetitle">
        <h1>Change Password</h1>
    </div>

    <div class="card shadow p-4 mt-4">
        <form>

            <div class="mb-3">
                <label for="current-password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="current-password" name="currentPassword"
                       placeholder="Enter your current password" required>
            </div>

            <div class="mb-3">
                <label for="new-password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new-password" name="newPassword"
                       placeholder="Enter a new password" required>
            </div>

            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirmPassword"
                       placeholder="Re-enter your new password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Change Password</button>

            <div class="text-center mt-3">
                <button type="submit" class="text-decoration-none">Forgot Password? Send reset link to email
                </button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/assets-a/js/core/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets-a/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets-a/js/kaiadmin.min.js}"></script>

</html>
