<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Change Password',~{::#style#style}, ~{::div.page-inner},'', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-af/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-af/profile}">Profile</a></li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>
<style id="style">
    .btn-link:hover {
        text-decoration: none;
        color: #0056b3; /* Darker blue on hover */
    }
</style>
<div class="page-inner">

    <div class="pagetitle">
        <h1>Change Password</h1>
    </div>

    <div class="card shadow p-4 mt-4">
        <p th:if="${currentPassNotCorrect != null}" class="alert alert-danger">
            <strong th:text="${currentPassNotCorrect}"></strong>
        </p>
        <p th:if="${passwordNotMatch != null}" class="alert alert-danger">
            <strong th:text="${passwordNotMatch}"></strong>
        </p>

        <form th:action="@{/admin-af/profile/change-password}" method="post">
            <input type="hidden" name="adminId" th:value="${session.admin.id}"/>
            <div class="mb-3">
                <label for="current-password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="current-password" name="currentPassword" required>
            </div>
            <div class="mb-3">
                <label for="new-password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new-password" name="newPassword" required>
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </form>


        <form th:action="@{/admin-af/profile/send-reset-link}" method="post" class="text-center mt-3">
            <button type="submit" class="btn btn-link text-primary p-0"
                    style="font-size: 1rem; text-decoration: underline;">
                Forgot Password? Send reset link to email
            </button>
        </form>

    </div>
</div>

<script th:src="@{/assets-a/js/core/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets-a/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets-a/js/kaiadmin.min.js}"></script>

</html>
