<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Forgot Password','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-af/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-af/profile}">Profile</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-af/change-password}">Change Password</a></li>
    <li class="breadcrumb-item active">Forgot Password</li>
</ol>

<div class="page-inner">

    <div class="pagetitle">
        <h1>Forgot Password</h1>
    </div>

    <div class="card shadow p-4 mt-4">
        <form action="/forgot-password" method="POST">

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Enter your registered email" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>

            <div class="text-center mt-3">
                <button class="btn btn-light"><a onclick="window.history.back()" class="text-decoration-none">Back</a>
                </button>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/assets-a/js/core/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets-a/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets-a/js/kaiadmin.min.js}"></script>

</body>
</html>
