<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Modify Profile','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/profile}">Profile</a></li>
    <li class="breadcrumb-item active">Modify Profile</li>
</ol>
<div class="page-inner">
    <h5>Modify Your Profile</h5>
    <th:block th:replace="~{/admin-view/management/admins/new.html :: div#main-body}"></th:block>
</div>


</html>