<!DOCTYPE html>
<html lang="en" th:replace="shared/_layout.html::layout('SmartTV','',~{::div#fatlind},'')"
      xmlns="http://www.w3.org/1999/html">

<div id="fatlind">
    <div class="form-container p-4 bg-white rounded shadow-sm" style="max-width: 600px; margin: auto;">
        <h1 class="mb-4 text-center text-dark">Client Information</h1>
        <form method="post" th:object="${clientRequestDto}">
            <!-- First Name -->

            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" th:field="*{firstName}" placeholder="Enter first name"
                       required>
                <p class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></p>

            </div>

            <!-- Last Name -->
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Enter last name"
                       required>
                <p class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></p>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Enter email address"
                       required th:field="*{email}">
                <p class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></p>
            </div>

            <!-- Phone -->
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" th:field="*{phone}" placeholder="Enter phone number"
                       required>
                <p class="alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></p>
            </div>

            <div class="mb-3">
                <label for="city" class="form-label">City</label><br/>
                <select class="form-control" th:field="*{city}">
                    <option value="" selected>Select City</option>
                    <th:block th:each="city : ${citiesList}">
                        <option th:value="${city}" th:text="${city}"></option>
                    </th:block>
                </select>
                <p class="alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: red"></p>
            </div>
            <div class="mb-3">
                <label for="subscriptionPlan" class="form-label">Subscription Plan</label>
                <select class="form-control" th:field="*{subscriptionPlan}">
                    <option value="" selected>Select a Plan</option>
                    <th:block th:each="plan : ${packageList}">
                        <option th:value="${plan.id}" th:text="${plan.name}"></option>
                    </th:block>
                    <p class="alert-danger" th:if="${#fields.hasErrors('subscriptionPlan')}" th:errors="*{subscriptionPlan}" style="color: red"></p>
                </select>
            </div>


            <!-- Address -->
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input class="form-control" th:field="*{address}" rows="3" placeholder="Enter address"
                       required>
                <p class="alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></p>
            </div>


            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>

</div>
</html>