<!DOCTYPE html>
<html lang="en" th:replace="shared/_layout.html::layout('SmartTV','',~{::div#fatlind},'')"
      xmlns="http://www.w3.org/1999/html">

<div id="fatlind">
    <div class="form-container p-4 bg-white rounded shadow-sm" style="max-width: 600px; margin: auto;">
        <h1 class="mb-4 text-center text-dark">Client Information</h1>
        <form method="post" th:object="${aboRequestDto}">
            <!-- First Name -->
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" th:field="*{firstName}" placeholder="Enter first name"
                       required>
            </div>

            <!-- Last Name -->
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Enter last name"
                       required>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Enter email address"
                       required th:field="*{email}">
            </div>

            <!-- Phone -->
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" th:field="*{phone}" placeholder="Enter phone number"
                       required>
            </div>

            <div class="mb-3">
                <label for="city" class="form-label">City</label><br/>
                <select class="form-control" th:field="*{cities}">
                    <option value=""  selected>Select City</option>
                    <th:block th:each="city : ${citiesList}">
                        <option th:value="${city}" th:text="${city}"></option>
                    </th:block>
                </select>
            </div>

            <!-- Address -->
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input class="form-control" th:field="*{address}" rows="3" placeholder="Enter address"
                       required>
            </div>

            <div class="mb-3">
                <label for="offer" class="form-label">Select an Offer</label>
                <select class="form-control" th:field="*{offers}" required>
                    <option value=""  selected>Select an offer</option>
                    <th:block th:each="offer : ${offersList}">
                        <option th:value="${offer}" th:text="${offer}"></option>
                    </th:block>
                </select>
            </div>


            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>

</div>
</html>