<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Super Admins','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/management/super-admins}">Super Admins List</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>
<div class="page-inner">

    <h1>Here are the details of super admins</h1>

</div>
</html>