<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Admins','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item active">Admins List</li>
</ol>

<div class="page-inner">
    <div
            class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
    >
        <div>
            <h3 class="fw-bold mb-3">Admins List</h3>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a th:href="@{/admin-pw/management/new-admin}" class="btn btn-primary btn-round">Create New Admin</a>
        </div>

    </div>
    <section class="intro ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card bg-dark shadow-2-strong">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table bg-dark table-borderless mb-0 ">
                                    <thead>
                                    <tr>

                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">City</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <th>Fatlind Gashi</th>
                                        <td>19</td>
                                        <td>fatlindi1@gmail.com</td>
                                        <td>Podujeve</td>
                                        <td>Kosovo</td>
                                        <td>Se di</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">details</button>
                                            <button type="submit" class="btn btn-secondary">modify</button>
                                            <button type="submit" class="btn btn-danger">delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <th>Adonit Halili</th>
                                        <td>19</td>
                                        <td>adonit.ha12@gmail.com</td>
                                        <td>Podujeve</td>
                                        <td>Kosovo</td>
                                        <td>Ali Ajeti</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">details</button>

                                            <button type="submit" class="btn btn-secondary">modify</button>
                                            <button type="submit" class="btn btn-danger">delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <th>Adonit Halili</th>
                                        <td>19</td>
                                        <td>adonit.ha12@gmail.com</td>
                                        <td>Podujeve</td>
                                        <td>Kosovo</td>
                                        <td>Ali Ajeti</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">details</button>

                                            <button type="submit" class="btn btn-secondary">modify</button>
                                            <button type="submit" class="btn btn-danger">delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <th>Adonit Halili</th>
                                        <td>19</td>
                                        <td>adonit.ha12@gmail.com</td>
                                        <td>Podujeve</td>
                                        <td>Kosovo</td>
                                        <td>Ali Ajeti</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">details</button>

                                            <button type="submit" class="btn btn-secondary">modify</button>
                                            <button type="submit" class="btn btn-danger">delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <th>Adonit Halili</th>
                                        <td>19</td>
                                        <td>adonit.ha12@gmail.com</td>
                                        <td>Podujeve</td>
                                        <td>Kosovo</td>
                                        <td>Ali Ajeti</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">details</button>

                                            <button type="submit" class="btn btn-secondary">modify</button>
                                            <button type="submit" class="btn btn-danger">delete</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

</html>