<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Edit Admin','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-panel/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-panel/management/admins}">Admins List</a></li>
    <li class="breadcrumb-item active">Edit Admin</li>
</ol>
<div class="page-inner">

    <div class="container rounded bg-white mt-1 mb-15" id="main-body">

        <form class="row" th:object="${adminEditingDto}" method="post" enctype="multipart/form-data">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                             width="150px"
                                                                                             th:src="*{photo}"
                                                                                             alt="No picture">
                    <p>Choose profile photo ( OPTIONAL )</p>
                    <input type="hidden" th:value="*{photo}" name="photo" id="photo">
                    <input type="file" class="form-control" id="photoFile" name="photoFile" accept="image/*">
                </div>
            </div>
            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <!--                        <h4 class="text-right">Add new Admin</h4>-->
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                                                                       placeholder="first name"
                                                                                       th:field="*{name}"
                                                                                       value=""
                                                                                       required
                                                                                       minlength="2"
                                                                                       maxlength="50">
                            <p class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                                                          th:field="*{surname}"
                                                                                          class="form-control" value=""
                                                                                          placeholder="surname"
                                                                                          required
                                                                                          minlength="2"
                                                                                          maxlength="50"
                        >
                            <p class="alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                        </div>
                    </div>
                    <div class="col-md-12"><label class="labels">Personal Number</label><input type="text"
                                                                                               th:field="*{personalNumber}"
                                                                                               class="form-control"
                                                                                               value=""
                                                                                               placeholder="personal number"
                                                                                               required
                                                                                               minlength="10"
                                                                                               maxlength="10"
                    >
                        <p class="alert-danger" th:if="${#fields.hasErrors('personalNumber')}"
                           th:errors="*{personalNumber}"></p>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-12"><label class="labels">Birthdate</label><input type="date"
                                                                                             th:value="*{dateOfBirth}"
                                                                                             name="dateOfBirth"
                                                                                             id="dateOfBirth"
                                                                                              class="form-control"
                                                                                             required
                        >
                            <p class="alert-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="tel"
                                                                                                 th:field="*{phoneNumber}"
                                                                                                 class="form-control"
                                                                                                 placeholder="enter phone number"
                                                                                                 value=""
                                                                                                 minlength="9"
                                                                                                 maxlength="25">
                        </div>
                        <div class="col-md-12"><label class="labels">Gender</label>

                            <input type="radio" class="form-check-input" value="M" th:field="*{gender}" required/> M&nbsp;
                            <input type="radio" class="form-check-input" value="F" th:field="*{gender}" required/> F
                        </div>

                    </div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text"
                                                                                       th:field="*{country}"
                                                                                       class="form-control"
                                                                                       placeholder="enter state"
                                                                                       value=""
                                                                                       minlength="2"
                                                                                       maxlength="50">
                        <p class="alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
                    </div>

                    <div class="row mt-3">

                        <div class="col-md-6"><label class="labels">Address</label><input type="text"
                                                                                          th:field="*{address}"
                                                                                          class="form-control"
                                                                                          value=""
                                                                                          minlength="2"
                                                                                          maxlength="50"
                                                                                          required
                                                                                          placeholder="enter address">
                            <p class="alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                        </div>

                        <div class="col-md-6"><label class="labels">Postcode</label><input type="text"
                                                                                           th:field="*{postcode}"

                                                                                           class="form-control"
                                                                                           placeholder="enter postcode"
                                                                                           value=""
                                                                                           minlength="5"
                                                                                           maxlength="5"></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text"
                                                                                        th:field="*{city}"
                                                                                        class="form-control"
                                                                                        minlength="2"
                                                                                        maxlength="50"
                                                                                        placeholder="enter city"
                                                                                        value="">
                            <p class="alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>


                            <div class="col-md-6">
                                <label class="labels">Role</label><br>
                                <input type="radio" class="form-check-input" value="Admin" th:field="*{role}" required/>
                                Admin
                                <input type="radio" class="form-check-input" value="Super Admin" th:field="*{role}"
                                       required/> Super Admin
                            </div>

                            <div class="mt-4 text-center">
                                <button class="btn btn-primary profile-button" type="submit"><i class="fas fa-save"
                                                                                                style="margin: 5px"></i>Edit
                                    Profile
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


</html>
