<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Admins','', ~{::div.page-inner},~{::#script#script}, ~{::ol})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-pw/management/admins}">Admins List</a></li>
    <li class="breadcrumb-item active">Add new Admin</li>
</ol>


<div class="page-inner">
    <h5>Create new Admin</h5>

    <div class="container rounded bg-white mt-1 mb-15" id="main-body">
        <form class="row" th:object="${admin}" method="post" enctype="multipart/form-data">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                             width="150px"
                                                                                             src="/images/admin.jpg">
                    <p>Choose profile photo ( OPTIONAL )</p>
                    <input type="hidden" th:field="*{photo}">
                    <input type="file" class="form-control" id="photoFile" name="photoFile" accept="image/*">
                </div>
            </div>
            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <!--                        <h4 class="text-right">Add new Admin</h4>-->
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                                                                       placeholder="first name"
                                                                                       th:field="*{name}"
                                                                                       value=""
                                                                                       required
                                                                                       minlength="2"
                                                                                       maxlength="50">
                            <p class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                                                          th:field="*{surname}"
                                                                                          class="form-control" value=""
                                                                                          placeholder="surname"
                                                                                          required
                                                                                          minlength="2"
                                                                                          maxlength="50"
                        >
                            <p class="alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-12"><label class="labels">Birthdate</label><input type="date"
                                                                                             th:field="*{dateOfBirth}"
                                                                                             class="form-control"
                                                                                             value=""
                                                                                             required
                                                                                             th:min="${from}"
                                                                                             th:max="${today}">
                            <p class="alert-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="tel"
                                                                                                 th:field="*{phoneNumber}"
                                                                                                 class="form-control"
                                                                                                 placeholder="enter phone number"
                                                                                                 value=""
                                                                                                 minlength="9"
                                                                                                 maxlength="25">
                        </div>
                        <div class="col-md-12"><label class="labels">Gender</label>

                            <input type="radio" class="form-check-input" value="M" th:field="*{gender}" required/> M&nbsp;
                            <input type="radio" class="form-check-input" value="F" th:field="*{gender}" required/> F
                        </div>
                        <!--                        <div class="col-md-12"></div>-->

                    </div>
                    <div class="col-md-12"><label class="labels">Country</label><input type="text"
                                                                                       th:field="*{country}"
                                                                                       class="form-control"
                                                                                       placeholder="enter state"
                                                                                       value=""
                                                                                       minlength="2"
                                                                                       maxlength="50">
                        <p class="alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
                    </div>

                    <div class="row mt-3">

                        <div class="col-md-6"><label class="labels">Address</label><input type="text"
                                                                                          th:field="*{address}"
                                                                                          class="form-control"
                                                                                          value=""
                                                                                          minlength="2"
                                                                                          maxlength="50"
                                                                                          required
                                                                                          placeholder="enter address">
                            <p class="alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                        </div>

                        <div class="col-md-6"><label class="labels">Postcode</label><input type="text"
                                                                                           th:field="*{postcode}"
                                                                                           class="form-control"
                                                                                           placeholder="enter postcode"
                                                                                           value=""
                                                                                           minlength="5"
                                                                                           maxlength="5"></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text"
                                                                                        th:field="*{city}"
                                                                                        class="form-control"
                                                                                        minlength="2"
                                                                                        maxlength="50"
                                                                                        placeholder="enter city"
                                                                                        value="">
                            <p class="alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>

                            <div class="col-md-12"><label class="labels">Email </label><input type="text"
                                                                                              th:field="*{email}"
                                                                                              class="form-control"
                                                                                              minlength="5"
                                                                                              maxlength="50"
                                                                                              placeholder="enter email for admin "
                                                                                              value="">
                                <p class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>


                            <div class="col-md-12"><label class="labels">Password </label><input type="password"
                                                                                                 th:field="*{password}"
                                                                                                 class="form-control"
                                                                                                 minlength="8"
                                                                                                 maxlength="50"
                                                                                                 placeholder="enter password for admin "
                                                                                                 value="">
                                <p class="alert-danger" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}"></p>
                            </div>
                            <div class="col-md-12"><label class="labels">Confirm Password </label><input type="password"
                                                                                                         class="form-control"
                                                                                                         placeholder="confirm password for admin "
                                                                                                         value=""
                                                                                                         minlength="8"
                                                                                                         maxlength="50">
                            </div>

                            <div class="mt-4 text-center">
                                <button class="btn btn-primary profile-button" id="alert_demo_3_1" type="submit">
                                    Create Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script id="script">
    //== Class definition
    var SweetAlert2Demo = (function () {
        //== Demos
        var initDemos = function () {
            //== Sweetalert Demo 1
            $("#alert_demo_1").click(function (e) {
                swal("Good job!", {
                    buttons: {
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                });
            });

            //== Sweetalert Demo 2
            $("#alert_demo_2").click(function (e) {
                swal("Here's the title!", "...and here's the text!", {
                    buttons: {
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                });
            });

            //== Sweetalert Demo 3
            $("#alert_demo_3_1").click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "warning",
                    buttons: {
                        confirm: {
                            className: "btn btn-warning",
                        },
                    },
                });
            });

            $("#alert_demo_3_2").click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "error",
                    buttons: {
                        confirm: {
                            className: "btn btn-danger",
                        },
                    },
                });
            });

            $("#alert_demo_3_3").click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "success",
                    buttons: {
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                });
            });

            $("#alert_demo_3_4").click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: "btn btn-info",
                        },
                    },
                });
            });

            //== Sweetalert Demo 4
            $("#alert_demo_4").click(function (e) {
                swal({
                    title: "Good job!",
                    text: "You clicked the button!",
                    icon: "success",
                    buttons: {
                        confirm: {
                            text: "Confirm Me",
                            value: true,
                            visible: true,
                            className: "btn btn-success",
                            closeModal: true,
                        },
                    },
                });
            });

            $("#alert_demo_5").click(function (e) {
                swal({
                    title: "Input Something",
                    html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Input Something",
                            type: "text",
                            id: "input-field",
                            className: "form-control",
                        },
                    },
                    buttons: {
                        cancel: {
                            visible: true,
                            className: "btn btn-danger",
                        },
                        confirm: {
                            className: "btn btn-success",
                        },
                    },
                }).then(function () {
                    swal("", "You entered : " + $("#input-field").val(), "success");
                });
            });

            $("#alert_demo_6").click(function (e) {
                swal("This modal will disappear soon!", {
                    buttons: false,
                    timer: 3000,
                });
            });

            $("#alert_demo_7").click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    buttons: {
                        confirm: {
                            text: "Yes, delete it!",
                            className: "btn btn-success",
                        },
                        cancel: {
                            visible: true,
                            className: "btn btn-danger",
                        },
                    },
                }).then((Delete) => {
                    if (Delete) {
                        swal({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            type: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        });
                    } else {
                        swal.close();
                    }
                });
            });

            $("#alert_demo_8").click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    buttons: {
                        cancel: {
                            visible: true,
                            text: "No, cancel!",
                            className: "btn btn-danger",
                        },
                        confirm: {
                            text: "Yes, delete it!",
                            className: "btn btn-success",
                        },
                    },
                }).then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        });
                    } else {
                        swal("Your imaginary file is safe!", {
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        });
                    }
                });
            });
        };

        return {
            //== Init
            init: function () {
                initDemos();
            },
        };
    })();

    //== Class Initialization
    jQuery(document).ready(function () {
        SweetAlert2Demo.init();
    });
</script>
</html>