<html lang="en"
      th:replace="~{shared/_adminLayout::adminLayout('Add new Client','', ~{::div.page-inner},'', ~{::ol.breadcrumb})}">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin-panel/dashboard}">Dashboard</a></li>
    <li class="breadcrumb-item"><a th:href="@{/admin-panel/management/clients}">Clients List</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<div class="page-inner">
    <div class="col-md-12" th:object="${clientDto}">
        <div class="card mb-5">

            <div class="card-body" style="margin: 25px">

                <a th:href="@{/admin-panel/management/clients/{id}/edit(id=*{id})}" class="ms-auto"
                   style="float: right;margin-left: 10px">
                    <button type="button" class="btn btn-icon btn-round btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>
                </a>
                <h1 style="text-align: center"> Client Details</h1>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Status</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{status}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">ID</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{id}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Ticket Number</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{ticketNr}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Client Number</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{clientNr}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">First Name</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{firstName}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Last Name</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{lastName}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{email}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Phone</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{phone}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">City</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{city}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Address</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{address}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Request Time</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedRequestTime}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Registered Time</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedRegisteredTime}"></div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Registered By</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{registeredBy}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Modified By</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{modifiedBy}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Modified Time</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedModifiedTime}"></div>
                </div>
                <hr>


            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="mb-3" style="text-align: center">Package Details</h1>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Subscription Plan</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{subscriptionPlan.name}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Subscription Start Time</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedSubscriptionStartDate}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Subscription End Time</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedSubscriptionEndDate}"></div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Subscription Status</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{subscriptionStatus}"></div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Price</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{subscriptionPlan.price}"></div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Mbps</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{subscriptionPlan.mbps}">19</div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Number of Channels</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{subscriptionPlan.nrOfChannels}">12-02-2005</div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Sports</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{subscriptionPlan.sportsChannels}"></div>
                </div>
                <hr>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="mb-3" style="text-align: center">Subscription Details</h1></h1>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Billing Address</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{billingAddress}"></div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Preferred Language</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{preferredLanguage}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Device Type</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{deviceType}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Installation Date</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedContractDate}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Contract Date</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedContractDate}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Contract Status</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{contractStatus}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Contract Expiry Date</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedExpiryDate}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Subscription Start Date</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedSubscriptionStartDate}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Subscription End Date</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="${formattedSubscriptionEndDate}"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Notes</h6></div>
                    <div class="col-sm-9 text-secondary" th:text="*{notes}"></div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>
</html>